<div class="top" *ngIf="viewObj$ | async as viewObj">
  <div class="start">

    <div class="nav" *ngFor="let l of links" routerLinkActive="active">
      <a [routerLink]="l.path">{{l.label}}</a>
      <div class="line"></div>
    </div>

  </div>
  <div class="end">


<!--    <div class="user center" *ngIf="userName$ | async as userName">-->
      <div class="user center">
      Hello {{viewObj.userName}}!
    </div>
    <div class="cart">
      <div class="count">{{numInCart$ | async}}</div>
      <button>Go to cart</button>
    </div>
  </div>
</div>
