@function times8($num) {
  @return #{$num * 8}px;
}


@mixin shadow-focus($shadow, $sec) {
  -webkit-box-shadow: 0px 0px 5px 8px $shadow;
  -moz-box-shadow: 0px 0px 5px 8px $shadow;
  box-shadow: 0px 0px 5px 8px $shadow;
  transition: outline $sec ease-in-out;
}
